@import url("https://fonts.googleapis.com/css?family=Nunito");
body {
  font-family: Nunito, sans-serif;
}

.card-link-itself {
  cursor: pointer;
  transition: background 0.3s ease;
}
.card-link-itself:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.card-link-itself:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=app.css.map */
