@import url("https://fonts.googleapis.com/css?family=Nunito");
body {
  font-family: Nunito, sans-serif;
}

.card-link-itself {
  cursor: pointer;
  transition: background 0.3s ease;
}
.card-link-itself:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.card-link-itself:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.suggestion,
.suggestion-loader {
  background-color: white;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  bottom: -5px;
  display: none;
  left: 15px;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 15px;
  transform: translateY(100%);
}
.suggestion--item,
.suggestion-loader--item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 12px;
  background-color: white;
  padding: 4px 12px;
  transition: background-color 0.3s ease;
}
.suggestion--item:last-child,
.suggestion-loader--item:last-child {
  border-bottom: none;
}
.suggestion--item:hover,
.suggestion-loader--item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.suggestion--item:active,
.suggestion-loader--item:active {
  background-color: rgba(0, 0, 0, 0.075);
}

/*# sourceMappingURL=etryPoint.css.map */
