.suggestion,
.suggestion-loader {
  background-color: white;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  bottom: -5px;
  display: none;
  left: 15px;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 15px;
  z-index: 2;
  transform: translateY(100%);
}
.suggestion--item,
.suggestion-loader--item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 12px;
  background-color: white;
  padding: 4px 12px;
  transition: background-color 0.3s ease;
}
.suggestion--item:last-child,
.suggestion-loader--item:last-child {
  border-bottom: none;
}
.suggestion--item:hover,
.suggestion-loader--item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.suggestion--item:active,
.suggestion-loader--item:active {
  background-color: rgba(0, 0, 0, 0.075);
}

.suggestion-loader {
  bottom: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px;
}
.suggestion-loader span {
  margin-left: 15px;
}
.suggestion-loader---hidden {
  display: none;
}

/*# sourceMappingURL=suggestion.css.map */
